# Quiz

### Quiz-1

In [1]:
x = 10
while(x<100):
  x+=2

print(x)

100

### Quiz-2

In [ ]:
# For any python objecct to be iterable , which two functions should be defined on that object ?
# __iter__ and __next__ functions should be defined on that object

### Quiz-3

In [4]:
a = [1,2,3,4,5,6,7,8,9,10]
a[3:8]

[4, 5, 6, 7, 8]

### Quiz-4

In [6]:
def access(lst, num):
  lst.append(num)
  num-=4
  return num

lst = [1,2,3]
num = 4
access(lst, num)
num2 = access(lst, num)
print(lst, num, num2)

[1, 2, 3, 4, 4] 4 0

# List (Mutable)

In [8]:
a = ["Kuldeep", 23, 35, 5.4,True,print]
a

['Kuldeep',
 23,
 35,
 5.4,
 True,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>]

In [9]:
len(a)

6

In [10]:
a[5]("PythonClass")

PythonClass

In [12]:
a[len(a)-1]

In [13]:
a[-1]

In [14]:
a = [1,2,3,4,5,6,7,8,9]

In [15]:
a[2:7]

[3, 4, 5, 6, 7]

In [16]:
a[:4]

[1, 2, 3, 4]

In [18]:
a[2:]

[3, 4, 5, 6, 7, 8, 9]

In [19]:
a[::2]

[1, 3, 5, 7, 9]

In [17]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
a[-3:2:-1]

[7, 6, 5, 4]

### List Functions

In [25]:
a = ["abc", 23, 45, 5.6, True, print]
max(a)

TypeError: '>' not supported between instances of 'int' and 'str'

In [26]:
a = [1,2,3,4,5,6,7,8,9]
max(a)

9

In [27]:
min(a)

1

In [28]:
[1,2,4] + [5,6,7]

[1, 2, 4, 5, 6, 7]

In [30]:
[1,2,3] - [4]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [31]:
[1,2]*2

[1, 2, 1, 2]

### Iterating over a list

In [35]:
a = ["bipin","is","a","good",4.5 , True]
for i in a:
  print(i)

bipin
is
a
good
4.5
True

In [36]:
it = iter(a)
it

In [37]:
next(it)

'bipin'

In [38]:
next(it)

'is'

In [39]:
next(it)

'a'

In [40]:
next(it)

'good'

In [41]:
next(it)

4.5

In [42]:
next(it)

True

In [43]:
next(it)

StopIteration:

### Multi Dimensional List

In [44]:
a = [[1,2],[3,4],[5,6]]

In [45]:
a[0]

[1, 2]

In [46]:
a[0][0]

1

In [49]:
a = [1,2,3,4,5,6,7,8,9]
print(id(a))
a[0] = 100
print(id(a))

2453765650816
2453765650816

In [50]:
a = ["bipin", "is", "a", "good", 4.5, True]
for i in range(len(a)):
    print(a[i])

bipin
is
a
good
4.5
True

# Tuples (Immutable)

In [52]:
a = (1,2,3)
a

(1, 2, 3)

In [53]:
type(a)

tuple

In [54]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [56]:
a = (10,)

In [57]:
type(a)

tuple

In [58]:
a =(1,2,3)

In [59]:
x,y,z = a

In [60]:
x

1

In [61]:
y

2

In [62]:
z

3

In [66]:
def foo():
  return 1,2,3

In [67]:
bar = foo()
print(bar)
print(type(bar))

(1, 2, 3)
<class 'tuple'>

In [68]:
a,b,c = foo()
print(a,b,c)

1 2 3

In [69]:
tup = 1,2,3
print(tup)

(1, 2, 3)

In [70]:
a = 100
b = 200
a,b = b,a
print(a,b)

200 100

In [71]:
a =(1,2,3,4,5,6,7,8,9)
max(a)

9

In [72]:
min(a)

1

In [73]:
len(a)

9

In [74]:
3 in a

True

In [76]:
a =(1,2,3) + (4,5,6)
a

(1, 2, 3, 4, 5, 6)

In [77]:
(1,2)*2

(1, 2, 1, 2)

In [78]:
a =(1,2,3)
print(id(a))

2453765920512

In [79]:
a =(1,2,3) + (4,5,6)
print(id(a))
# Create diff objects and store in it

2453765905408

In [85]:
a = [1,2,[1,4]]
a

[1, 2, [1, 4]]

In [87]:
a[0] = 10
a

[10, 2, [1, 4]]

In [89]:
a = (1,2,(1,3))
a
id(a[0])

140715617870632

In [90]:
id(a[2][0])

140715617870632

# Dictionary (Mutable)

In [ ]:
d = {
  key:values
}

In [91]:
d = {
  "name":"Bipin",
  "age":23,
  "city":"Bangalore"
}
d

{'name': 'Bipin', 'age': 23, 'city': 'Bangalore'}

In [92]:
d.get("name")

'Bipin'

In [93]:
d["name"] = "Kuldeep"

In [94]:
d

{'name': 'Kuldeep', 'age': 23, 'city': 'Bangalore'}

In [95]:
d.pop("age")
d

{'name': 'Kuldeep', 'city': 'Bangalore'}

In [96]:
d2 = {"lang":"Python","framework":"Django"}
d.update(d2)

In [97]:
d

{'name': 'Kuldeep',
 'city': 'Bangalore',
 'lang': 'Python',
 'framework': 'Django'}

In [98]:
d["age"] = 2

In [99]:
d

{'name': 'Kuldeep',
 'city': 'Bangalore',
 'lang': 'Python',
 'framework': 'Django',
 'age': 2}

In [100]:
Person = {
  "name" : "Bipin",
  "age" : 23,
  "city" : "Bangalore"
}
Person

{'name': 'Bipin', 'age': 23, 'city': 'Bangalore'}

In [101]:
Person.update({
  "name" : "Kuldeep Saini",
  "subject" : ["python", "ml"],
  "cool ?" : True
})
Person

{'name': 'Kuldeep Saini',
 'age': 23,
 'city': 'Bangalore',
 'subject': ['python', 'ml'],
 'cool ?': True}

In [102]:
# only Keys
for i in Person:
  print(i)

name
age
city
subject
cool ?

In [103]:
# only values
for i in Person.values():
  print(i)

Kuldeep Saini
23
Bangalore
['python', 'ml']
True

In [105]:
for key,values in Person.items():
  print(key,"-->",values)

name --> Kuldeep Saini
age --> 23
city --> Bangalore
subject --> ['python', 'ml']
cool ? --> True

In [109]:
d1 = {
  "Key1" : "value1",
  (1,23) : {
    "random" : "nested Dict"
  },
  45:True,
  True:(1,2)
  # [1,2]:"values" --> Keys cannot be mutable
}
d1

{'Key1': 'value1', (1, 23): {'random': 'nested Dict'}, 45: True, True: (1, 2)}

In [110]:
d1[(1,23)]

{'random': 'nested Dict'}

In [111]:
d1.get(100)

In [112]:
print(d1.get(100, "Not Found"))

Not Found

# Sets (Mutable)

In [113]:
s1 = {1,2,2,3,3,3,4}
s1

{1, 2, 3, 4}

In [114]:
s2 = set()
s2

set()

In [115]:
s2.add(10)
s2

{10}

In [116]:
s2.remove(10)
s2

set()

In [117]:
s1.add(9)
s1

{1, 2, 3, 4, 9}

In [118]:
s2.update({2,3,5,2,1})
s2

In [119]:
for i in s2:
  print(i)

1
2
3
5

In [121]:
a = {1,2}
b = {2,3,4,5}

In [122]:
# union
a|b

{1, 2, 3, 4, 5}

In [123]:
a.union(b)

{1, 2, 3, 4, 5}

In [124]:
# Interaction
a.intersection(b)

{2}

In [126]:
a&b

{2}

In [127]:
a-b

{1}

In [128]:
b-a

{3, 4, 5}

In [130]:
# Symmetric Difference
a^b

{1, 3, 4, 5}

In [131]:
a.symmetric_difference(b)

{1, 3, 4, 5}

In [134]:
wonderSet = {"ABC", 56, [1,2,3]}
# Set can only contains Immutable Data Structures

TypeError: unhashable type: 'list'

In [135]:
board = [""*3]
board

['']

In [136]:
board = [[""*3]*3]
board

[['', '', '']]

In [139]:
board =[ [""]*3]*3
board

[['', '', ''], ['', '', ''], ['', '', '']]

In [140]:
board[1][1] = 0

In [141]:
board

[['', 0, ''], ['', 0, ''], ['', 0, '']]

In [143]:
id(board[0]) == id(board[1]) == id(board[2])

True

In [144]:
a = [1,2,3]
id(a)

2453766557760

In [145]:
a.append(4)
id(a)

2453766557760

In [147]:
a.extend([5,6,7])
id(a)

2453766557760

In [148]:
a

[1, 2, 3, 4, 5, 6, 7]