In [2]:
a = [1,2,3,4,5]
ans = []
for i in range(len(a)):
    ans.append(a[i] ** 2)
ans

[1, 4, 9, 16, 25]

In [3]:
[i**2 for i in a]

[1, 4, 9, 16, 25]

In [4]:
def my_logic(i):
  if i%2==0:
    return i
  else:
    return i**2

In [5]:
a = [1,2,3,4,5]

In [6]:
ans = []
for i in a:
  ans.append(my_logic(i))
ans

[1, 2, 9, 4, 25]

In [7]:
[my_logic(i) for i in a]

[1, 2, 9, 4, 25]

In [8]:
[i if i%2==0 else i**2 for i in a]

[1, 2, 9, 4, 25]

In [9]:
ans = [i for i in a if i%2==0]
ans

[2, 4]

In [10]:
ans = [i if i%2==0 else i**2 if i%2==1 else 0 for i in a]

In [11]:
ans

[1, 2, 9, 4, 25]

## Nested List Comprehension

In [14]:
ans = [i*j for i in range(1,10) for j in range(1,10)]
ans

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [17]:
random = [j + str(i) for i in [1,2,3] for j in ['a','b','c']]
random

['a1', 'b1', 'c1', 'a2', 'b2', 'c2', 'a3', 'b3', 'c3']

In [19]:
order = []
for i in ['a','b','c']:
    for j in [1,2,3]:
        order.append(i + str(j))
order

['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

# Set Comprehension

In [20]:
s = {i**2 for i in range(10)}
s

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [25]:
s = {i+str(j) for i in ['a','b','c'] for j in [1,2,3]}
s

{'a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3'}

# Dictionary Comprehension

In [26]:
d = {i:j for i,j in zip(['a','b','c'],[1,2,3])}
d

{'a': 1, 'b': 2, 'c': 3}

# Tuple Comprehension

In [27]:
t = (i for i in range(10))

In [29]:
tuple(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# String

In [31]:
s1 = "str"
s2 = 'str1'
s3 = '''str3'''

In [33]:
s3 = '''string are 
immutable'''
print(s3)

string are
immutable

In [34]:
s1.index('t')

1

In [36]:
s1[2]

'r'

In [37]:
s1[1:]

'tr'

In [38]:
s1[-1]

'r'

In [39]:
string1 = "This is A Weird String"

In [40]:
string1.upper()

'THIS IS A WEIRD STRING'

In [41]:
string1.lower()

'this is a weird string'

In [42]:
string1.title()

'This Is A Weird String'

In [43]:
string1.startswith('s')

False

In [44]:
string1.startswith('t')

False

In [45]:
string1.startswith('T')

True

In [46]:
url = 'https://www.google.com'
url.lower().startswith('https')

True

In [47]:
l = 45
b = 55
a = l*b

In [54]:
r = "Length = " + str(l) + ", Breadth = " + str(b) + ", Area = " + str(a)
r

'Length = 45, Breadth = 55, Area = 2475'

In [57]:
r = f"Length = {l}, Breadth = {b}, Area = {a}"
r

'Length = 45, Breadth = 55, Area = 2475'

In [58]:
r = "Length = {}, Breadth = {}, Area = {}".format(l,b,a)
r

'Length = 45, Breadth = 55, Area = 2475'

In [59]:
s = "this is a string which is separated by spaces"

In [62]:
s.split()

['this', 'is', 'a', 'string', 'which', 'is', 'separated', 'by', 'spaces']

In [61]:
s.split("a")

['this is ', ' string which is sep', 'r', 'ted by sp', 'ces']

In [63]:
a = s.split()
a

['this', 'is', 'a', 'string', 'which', 'is', 'separated', 'by', 'spaces']

In [64]:
"-".join(a)

'this-is-a-string-which-is-separated-by-spaces'

## Flatten List

In [79]:
a = [1,2,3,4,5,[[2,3]], [3,4,5]]
a

[1, 2, 3, 4, 5, [[2, 3]], [3, 4, 5]]

In [80]:
def flattenList(li):
  results=[]
  while(li):
    first = li.pop()
    print(first)
    if type(first) == list:
      li.extend(first)
    else:
      results.append(first)

    results.sort()
    print(results)

In [81]:
flattenList(a)

[3, 4, 5]
[]
5
[5]
4
[4, 5]
3
[3, 4, 5]
[[2, 3]]
[3, 4, 5]
[2, 3]
[3, 4, 5]
3
[3, 3, 4, 5]
2
[2, 3, 3, 4, 5]
5
[2, 3, 3, 4, 5, 5]
4
[2, 3, 3, 4, 4, 5, 5]
3
[2, 3, 3, 3, 4, 4, 5, 5]
2
[2, 2, 3, 3, 3, 4, 4, 5, 5]
1
[1, 2, 2, 3, 3, 3, 4, 4, 5, 5]