In [ ]:
init()

In [1]:
## Dunder or magic methods

In [2]:
class A:
  def __init__(self,a,b):
    self.a = a
    self.b = b

In [3]:
class Car:
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage

In [4]:
c1 = Car("Etios", 8)
c2 = Car("Swift",10)

In [5]:
print(c1)

<__main__.Car object at 0x0000027585924950>

In [19]:
from typing import Any


class Car:
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} {self.mileage}"
  
  def __add__(self, other):
    return self.mileage + other.mileage
  
  def __lt__(self, other):
    return self.mileage < other.mileage 
  
  def __call__(self) :
    print("I was Called")

In [20]:
c1 = Car("Etios", 8)
c2 = Car("Swift",10)

In [14]:
print(c1)

Etios 8

In [15]:
c1+c2

18

In [16]:
c1+Car("Baleno", 12)

20

In [17]:
c1<c2

TypeError: '<' not supported between instances of 'Car' and 'Car'

In [21]:
c1<c2

True

In [18]:
c1()

TypeError: 'Car' object is not callable

In [22]:
c1()

I was Called

# Inheritance

In [23]:
class Parent:
  def __init__(self):
    print("Parent Constructor")
  
class Child(Parent):
  def __init__(self):
    print("Child Constructor")

In [ ]:
# SchoolMember-->Students
#             --> Staff --> Teacher

In [25]:
class SchoolMember:
  def __init__(self,name):
    self.name = name
    print("School Member Constructor")

class Students(SchoolMember):
  def __init__(self,name,grade):
    self.grade = grade
    print("Students Constructor")

class Staff(SchoolMember):
  def __init__(self,name, salary):
    self.salary = salary
    print("Staff Constructor")

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    self.subject = subject
    print("Teacher Constructor")

In [26]:
s1 = Students("John", 10)

Students Constructor

In [27]:
s1.grade

10

In [28]:
s1.name

AttributeError: 'Students' object has no attribute 'name'

In [38]:
class SchoolMember:
  def __init__(self,name):
    self.name = name
    print("School Member Constructor")

class Students(SchoolMember):
  def __init__(self,name,grade):
    super().__init__(name)
    self.grade = grade
    print("Students Constructor")

class Staff(SchoolMember):
  def __init__(self,name, salary):
    super().__init__(name)
    self.salary = salary
    print("Staff Constructor")

class Teacher(Staff):
  def __init__(self,name,salary,subject):
    super().__init__(name,salary)
    self.subject = subject
    print("Teacher Constructor")

In [30]:
s1 = Students("John", 10)

School Member Constructor
Students Constructor

In [31]:
print(s1.name, s1.grade)

John 10

In [32]:
staf = Staff("Kuldeep", 1000)

School Member Constructor
Staff Constructor

In [33]:
print(staf.name, staf.salary)

Kuldeep 1000

In [39]:
teacher = Teacher("Kuldeep", 1000, "Python")

School Member Constructor
Staff Constructor
Teacher Constructor

In [40]:
print(teacher.name, teacher.salary, teacher.subject)

Kuldeep 1000 Python

In [4]:
class BankAccount:
  def __init__(self, balance):
    self.balance  = balance

  def withdraw(self,amount):
    self.balance = self.balance - amount

  def deposit(self, amount):
    self.balance = self.balance + amount

In [5]:
b1 = BankAccount(10000)

In [6]:
b1.deposit(5000)

In [7]:
b1.balance

15000

In [8]:
b1.withdraw(15000)

In [9]:
b1.balance

0

In [10]:
b1.balance = 872767426523325838287553
#! This is not Okay because can hinder there balance and put any amount in its balance

In [11]:
b1.balance

872767426523325838287553

# Private Properties

In [21]:
class BankAccount:
  def __init__(self, balance):
    self.__balance  = balance

  def withdraw(self,amount):
    self.__balance = self.__balance - amount

  def deposit(self, amount):
    self.__balance = self.__balance + amount

  def check_balance(self):
    return self.__balance

In [22]:
b1 = BankAccount(10000)

In [23]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [24]:
b1.deposit(5000)

In [25]:
b1.withdraw(10000)

In [26]:
b1.check_balance()

5000

In [27]:
b1.__balance = 289785352737275472 
# This will not change the balance because __balance is private

In [28]:
b1.check_balance()

5000

In [31]:
b1._BankAccount__balance

5000

In [32]:
b1._BankAccount__balance = 72727376287454782
# This will change the balance because __balance is private
#! This is a Loop whole in python

In [33]:
b1.check_balance()

72727376287454782

# Multuple Inheritance

In [39]:
class A:
  def __init__(self,a) :
    self.a = a

class B:
  def __init__(self,b):
    self.b = b

class C(A,B): 
  def __init__(self,a,b,c):
    A.__init__(self,a)
    B.__init__(self,b)
    self.c = c

In [40]:
c1 = C(1,2,3)

In [41]:
c1.a

1

In [42]:
c1.b

2

In [43]:
c1.c

3

# Diamond Problem

In [44]:
class A:
  x = 10

class B(A):
  pass

class C(B):
  pass

class D(A):
  x = 5

class E(C,D):
  pass

In [45]:
e = E()

In [46]:
e.x

5

In [48]:
E.__mro__ #* E-> C-> B-> D-> A

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [49]:
class A:
  x = 10

class B(A):
  pass

class C(B):
  x = 100

class D(A):
  x = 5

class E(C,D):
  pass

In [50]:
e1 = E()

In [51]:
e1.x

100

# Quiz

In [52]:
# 1 . How many objects would be created in the complete run of the following code?
class A:
  print("Am I a Class")

A()

obj1 = A()

if A():
  print(A())

#* Answer: 4

Am I a Class
<__main__.A object at 0x0000013202FADC50>

In [53]:
#2. Which f the following is fasle with respect to the following python code?
class Student:
  def __init__(self, id, age):
    self.id = id
    self.age = age

s1 = Student(1, 20)

### **Answer:** It is mandatory to define an init dunder

In [54]:
#3. What would be the output of the following code?
class A:
  def __init__(self, name):
    self.name = name

a1 = A("Kuldeep")
a2 = A("Prikshit")

print(id(a1) == id(a2))

False

In [55]:
#4. What would be the output of the following code?
class Counter:
  def __init__(self):
    self.count = 5
    self.count = count+1

c = Counter()
print(c.count)
#! Error

NameError: name 'count' is not defined

In [56]:
#5. What are the functions inside a class called in Python?
#* Methods

In [57]:
#6. What would be the output of the following code?
class Random:
  def __init__(self, a="It is possible?"):
    self.a = a 

  def display(self):
    print(self.a)

r = Random()
r.display()

It is possible?

In [58]:
# 7. What would be the output of the following code?
class A:
  def __init__(self):
    self.variable = 'Old'
    self.update(self.variable)

  def update(self, var):
    var = 'New'

a = A()
print(a.variable)

Old

In [59]:
#8. What do yu mean by instantiation when it comes to OOPS ?
#* The creation of an object from a class is called instantiation

In [60]:
#9. Which of the following code pieces would create an empty class in Python?
#* class A: pass

In [61]:
#10. What would be the ouptut of the following code?
class A:
  def do_something(self):
    print("I do something!")

class B(A):
  def do_something(self):
    super().do_something()
    print("I do something else!")

b = B()
b.do_something()

I do something!
I do something else!