# Principle of Functional Programming

In [1]:
x=5

In [2]:
x = 3*x

In [3]:
x+=1

In [4]:
x

16

In [5]:
x=5
x1=3*x
x2=x1+1

In [6]:
x=5

def mutation_x(x):
    x = 3*x
    x=x+1
    return x

x1 = mutation_x(x)

In [7]:
x1

16

# Map

In [8]:
m = map(lambda x:x**2, [5, 6, 7, 8])
m

In [9]:
list(m)

[25, 36, 49, 64]

In [10]:
m = list(map(lambda x:x**2, [1,2,3,4]))

In [11]:
m

[1, 4, 9, 16]

- h < 150 -> S
- h >=150 and h < 180 -> M
- h >= 180 -> L

In [12]:
height = [144, 150, 156, 162, 168, 174, 180, 186, 192, 198]

In [13]:
def height_logic(x):
    if x<150:
        return "S"
    elif x>=150 and x<160:
        return "M"
    else:
        return "L"

In [14]:
sizes = list(map(height_logic, height))

In [15]:
sizes

['S', 'M', 'M', 'L', 'L', 'L', 'L', 'L', 'L', 'L']

In [16]:
sizes_2 = list(map(lambda x: "S" if x<150 else "M" if x>=150 and x<160 else "L", height))

In [17]:
sizes_2

['S', 'M', 'M', 'L', 'L', 'L', 'L', 'L', 'L', 'L']

In [21]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

C = list(map(lambda x,y: (x==y), A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

In [22]:
random1 = [1,2,3]
random2 = [1,2,3]

In [23]:
random3 = list(map(lambda x,y: x+y, random1, random2))

In [24]:
random3

[2, 4, 6]

# Filters

In [26]:
num = list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
f = filter(lambda x: x%2==0, num)

In [28]:
f

In [29]:
list(f)

[2, 4, 6, 8, 10]

# Zip

In [34]:
list1 = ["a", "b", "c"]
list2 = ["d", "e", "f","s"]

In [35]:
z = zip(list1, list2)
z

In [36]:
list(z)

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [43]:
list3 = ["A","B","C","D","E"]
z = zip(list1, list2, list3)

In [44]:
allList = list(z)
allList

[('a', 'd', 'A'), ('b', 'e', 'B'), ('c', 'f', 'C')]

# Reduce

In [45]:
from functools import reduce

In [46]:
a = [1,2,3,4,5]

In [47]:
result = reduce(lambda x,y: x+y, a)
result

15

In [49]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
b = reversed(a)

In [51]:
b = list(b)
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
print(reduce(lambda x,y: x*y, a) == reduce(lambda x,y: x*y, b))

True

In [53]:
reduce(lambda x,y: x*y, a)

3628800

In [54]:
reduce(lambda x,y: x*y, b)

3628800

In [55]:
list1 = [1,2,5,10]

In [57]:
max_element = reduce(lambda x,y: x if x>y else y, list1)
max_element

10

In [58]:
reduce(lambda x,y: x + y, a,-100)

-45

# Arguments and KeyArguments

In [59]:
## Create a fucntion thats sum the input should take at least 2 args and max infinte args

In [60]:
def sum_args(x,y):
    return x+y

In [61]:
ans = sum_args(1,2)
ans

3

In [73]:
def sum_Args(x,y,*args):
    result = x+y
    if args:
        result = result + sum(args)
    return result

In [74]:
ans = sum_Args(1,2,3,4,5,6,7,8,9,10)

In [64]:
ans

55

In [66]:
def create_person(name,age,gender):
  Person = {
      "name": name,
      "age": age,
      "gender" : gender
  }
  return Person

In [67]:
p1 = create_person("John", 25,'female')

In [68]:
p1

{'name': 'John', 'age': 25, 'gender': 'female'}

In [69]:
def create_person(name,age,gender,**kwargs):
  Person = {
      "name": name,
      "age": age,
      "gender" : gender
  }
  if kwargs:
     Person.update(kwargs)
  return Person

In [70]:
p2 = create_person("John", 25,'male',color='red')
p2

{'name': 'John', 'age': 25, 'gender': 'male', 'color': 'red'}

In [71]:
def random(x,y,*args, **kwargs):
    print("x:",x)
    print("y:",y)
    print("args:",args)
    print("kwargs:",kwargs)

In [72]:
random(1,2,3,4,5,6,7,8,9,10, color='red', size='small')

x: 1
y: 2
args: (3, 4, 5, 6, 7, 8, 9, 10)
kwargs: {'color': 'red', 'size': 'small'}